<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
</head>
<body>
    <div id="parteReactivaVue">
        <div class="product">
 
            <h1>Listado de actividades (array) del producto: {{ producto }} UL LI</h1>
            <div class="listado-actividades">
                <ul>
                    <li v-for="actividad in lstActividades">{{ actividad }}</li> 
                </ul>
            </div>

            <h1>Listado de materiales (json) del producto: {{ producto }} UL LI</h1>
            <div class="listado-materiales">
                <ul>
                    <li v-for="material in lstMateriales">{{ material.nombre_material }}</li> 
                </ul>
            </div>

            <h1>Listado de materiales (json) del producto: {{ producto }} SELECT / COMBO</h1>
            <div class="listado-materiales">
                <select>
                    <option v-for="material in lstMateriales" :value="material.id_material"> {{ material.nombre_material}}</option>
                </select>
            </div>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="eje4.js"></script>
    
</body>
</html>